.tab-list-item {
  list-style: none;
  margin-bottom: -1px;
  padding: 10px 0;
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: solid lightgray;
  border-width: 0 0 1px 1px;
}

.tab-list-active {
  border-bottom: 2px solid var(--primary);
}

.close-icon {
  flex: 0.5
}