.navbar {
    height: 60px;
    background-color: var(--primary);
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar h1 {
    color: white;
    margin: 0;
    padding: 0;
}

.navbar p {
    cursor: pointer;
}
